{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'partials/header.html' %}
   
    <table border="1" class="table table-hover">
        <tr class=" table-primary ">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
        {% for chave, uma_receita in lista_receitas.items %}
        <tr>
            <td>
                <img src={% static 'suco.webp' %} class="icone-suco">
               
                <strong>{{uma_receita}}</strong><br>
                
                </td>
            <td><a href=https://www.youtube.com/watch?v=Nn9140bDPnc>Veja o Vídeo</a></td>
            <td><a href="sucodelaranja" class="btn btn-info">Ver receita completa</a></td>
        </tr>
        {% endfor %}
       
    </table>
{% include 'partials/footer.html' %}
{% endblock %}